<div class="footer">
	<small>
		<%= link_to "Peoplefilter", "https://github.com/rjohnson008/peoplefilter" %> by <%= link_to "Ryan Johnson", "http://www.linkedin.com/in/rjohnson008" %>
	</small>
</div>